{% extends 'base.html' %}
{% block title %}Eflatun Blog{% endblock %}
{% load static %}
{% block content %}
    <header>
        <div class="jumbotron text-white"  style="background-image: url({% static 'bg_img.jpg' %}); background-size: 100%;">
            <div class="container">
                <div class="col-md-6 px-0">
                    <h1 class="display-4 font-italic">
                        <b>eflatun</b>
                    </h1>
                    <p class="lead my-3">
                       Düşünmek, ruhun kendi kendine konuşmasıdır.
                    </p>

                </div>
            </div>
        </div>
    </header>
    <main >
        <div class="container">
            <div class="row">
            {% for post in posts %}
                <div class="col-md-12">
                    <div class="card mb-3">
                            <img src="{{post.image.url}}" class="card-img-top img-thumbnail">
                        <div class="card-body">
                                <h4 class="card-title text-center">{{post.title}}</h4>
                                <p class="card-text">
                                    {{post.content|truncatechars:140}}
                                </p>
                                <a href="{% url 'detail' post.slug %}" class="btn btn-primary">Devamını oku</a>
                                {% if request.user == post.author %}
                                    <a href="{% url 'update' post.slug %}" class="btn btn-warning">Güncelle</a>
                                    <a href="{% url 'delete' post.slug %}" class="btn btn-danger">Sil</a>
                                {% endif %}
                        </div>
                        </div>
                        <div class="card-footer text-muted mb-5">
                            {{post.author.get_full_name|default:post.author.username}} | {{post.date|timesince}} önce
                        </div>
                    </div>
                {% endfor %}
                  <!--pagination-->
                <div class="clearfix mb-5 ml-4">
                    {% if posts.number == 1 and posts.has_next %}
                        <a class="btn btn-outline-info float-right" href="?sayfa=2">&rangle;</a>
                        <a class="btn btn-outline-info" href="?sayfa={{posts.paginator.num_pages}}">&raquo;</a>&nbsp;
                    {% endif %}

                    {% if posts.has_previous %}
                        <a class="btn btn-outline-info" href="/">&laquo;</a>
                        <a class="btn btn-outline-info" href="?sayfa={{ posts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&langle;</a>
                    {% endif %}
                    {% for num in posts.paginator.page_range %}
                        {% if posts.number == num and posts.number != 1 %}
                            <a class="btn btn-outline-info" href="?sayfa={{num}}">{{num}}</a>
                        {% endif %}
                    {% endfor %}

                    {% if posts.has_next and posts.number != 1 %}
                         <a class="btn btn-outline-info" href="?sayfa={{ posts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">&rangle;</a>
                          <a class="btn btn-outline-info" href="?sayfa={{posts.paginator.num_pages}}">&raquo;</a>
                    {% endif %}
                    </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
{% endblock %}
